#########################
#	Gitignore	#
#########################


#	Exclude lucidi_laboratorio      #
#	Exclude lucidi_lezione		#


./lucidi_laboratorio/
./lucidi_lezione
.metadata/
progetto/.metadata/

#	Exclude Compiled Source		#

*.o

#  Exclude pdf or other text document	#

*.pdf
*.ods
*.odt

#	Exclude tmp file		#

*.swp

