#########################
#	Gitignore	#
#########################


#	Exclude lucidi_laboratorio      #
#	Exclude lucidi_lezione		#


./lucidi_laboratorio/
./lucidi_lezione

#	Exclude Compiled Source		#

*.o
